# Disable directory browsing
Options All -Indexes
SetEnv CI_ENVIRONMENT development

# ----------------------------------------------------------------------
# Rewrite engine
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine on
	Options -Indexes
	RewriteCond %{HTTPS} off
	RewriteCond %{HTTP:X-Forwarded-SSL} !on
	RewriteCond %{HTTP_HOST} ^symptomed\.id$ [OR]
	RewriteCond %{HTTP_HOST} ^www\.symptomed\.id$
	RewriteRule ^/?$ "https\:\/\/symptomed\.id\/" [R=301,L]
	Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload " "expr=%{HTTPS} == 'on'"
	Header set X-XSS-Protection "1; mode=block"
	Header set X-Frame-Options "SAMEORIGIN"
	Header set X-Content-Type-Options "nosniff"
	Header set Referrer-Policy "same-origin"
	Header set Feature-Policy "microphone 'none';accelerometer 'none'; camera 'none'; geolocation 'self'; gyroscope 'none'; magnetometer 'none'; payment 'none'; usb 'none'"

	# Redirect all traffic to https://admin.symptomed.id/
	RewriteCond %{HTTP_HOST} !^admin\.symptomed\.id$ [NC]
	RewriteRule ^ https://admin.symptomed.id%{REQUEST_URI} [L,R=301]

	# Existing rules...

	# Rewrite "www.example.com -> example.com" (Modify this rule if needed)
	RewriteCond %{HTTPS} !=on
	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

	# Other rewrite rules...

</IfModule>

<IfModule !mod_rewrite.c>
    # Fallback behavior...
</IfModule>

# Disable server signature
ServerSignature Off
