# Disable directory browsing
Options All -Indexes
SetEnv CI_ENVIRONMENT development

# ----------------------------------------------------------------------
# Rewrite engine
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On

    # Redirect all traffic to https://admin.symptomed.id
    RewriteCond %{HTTP_HOST} !^admin\.symptomed\.id$ [NC]
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} !^admin\.symptomed\.id$
    RewriteRule ^ https://admin.symptomed.id%{REQUEST_URI} [L,R=301]

	# Checks to see if the user is attempting to access a valid file,
    # such as an image or css document, if this isn't true it sends the
    # request to the front controller, index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L]

	# Ensure Authorization header is passed along
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 index.php
</IfModule>

# Disable server signature
ServerSignature Off
