# Disable directory browsing
Options All -Indexes
SetEnv CI_ENVIRONMENT development

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^admin\.symptomed\.id$ [OR]
RewriteCond %{HTTP_HOST} ^www\.admin\.symptomed\.id$
RewriteRule ^/?$ "https\:\/\/admin\.symptomed\.id\/" [R=301,L]


